@font-face {
    font-family: 'iranyekan';
    src:url('../font/Qs_Iranyekanmedium.ttf') format('truetype');
        
}
@font-face {
    font-family: 'iranyekanvbold';
    src:url('../font/Qs_Iranyekanbold.ttf') format('truetype');    
}
* {
    margin: 0px;
    padding: 0px;  
}
body{
    background-color:  #F5F5F5;
    margin-top: 44px;
}
img {
    padding-left: 10px;
}
aside>div>img:nth-child(1) {
    padding: 1% 12%;

}
aside>div>img:nth-child(2) {
    padding: 0% 10%;
    margin: 11% 0;
}
h1{
    font-family:iranyekanvbold;
    font-size: 32px;
    padding: 18px;
    padding-right: 34px;
}
ul,li {
    list-style: none;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
li {
    margin: 0px 0px;
    padding: 17px 7px;
    border-radius: 9px;
    width: 100%;
    
}
li:hover {
    background-color: #e3e4e8;
}
a {
    text-decoration: none;
    color: #43436e !important;
    font-family:iranyekan;
}
/* قسمت دیاگرام  */
section>div>div>span:nth-child(1){
    font-family:iranyekan;
    font-size: 16px;
}
section>div>div>span:nth-child(2){
    font-family:iranyekanvbold;
    font-size: 18px;
}
/* پایان دیاگرام  */
.ma-dsh {
    display: flex;
    background-color:  #F5F5F5;
    width: 100%;
}
.cold {
    background-color: #ffffff;
    border-radius: 29px;
    padding-bottom: 1px;
}
.main-bar {
    background-color: #F5F5F5;
    border-radius: 15px;
}
.said-bar {
    background-color:  #F5F5F5;
}
.hr {
    border: 1px solid #AEAEAE;
    width: 86%;
    margin-top: 5em;
    margin-right: 14px;
}
.list, .list-down {
    margin-right: -12px;
    padding-left: 21px;
}
.list-down {
    margin-top: 12px;
}
.disflex{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 9px;
}
@media only screen and (max-width: 1400px) {
    aside>div>img:nth-child(1) {
        padding: 1% 5%;
    
    }
    aside>div>img:nth-child(2) {
        padding: 0% 3%;
        margin: 11% 0;
    }
    .list, .list-down {
        margin-right: -25px;
        padding-left: 0px;
        margin-top: 10ox;
    }
   .list-out {
        width: 98%;
   }
}